.show-detail {
    display:grid;
    padding:80px;
    grid-template-columns: 240px 1fr; 
    gap:20px;
    background-color:#faf9ff;
    border-radius: 5px;
}
.show-image {
    height:60%;
    padding:10px;
    border-radius: 12px;
    border:1px solid #ece8fb;
    background-color:rgb(255,255,255);
}
.movie-image {
    width:100%;
    border-radius:10px;
}
.movie-title {
    font-size: 16px;
    font-weight: 500;
    color:#1f1235;
}
.movie-genre,
.movie-language {
    font-size:11px;
    font-weight: 500;
    color:#1f1235;
}
.theatre-card,
.date-card,
.time-card,
.choice-card {
    background-color:rgb(255,255,255);
    margin-bottom:20px;
    border:0.5px solid #ece8fb;
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:20px;

}
.card-head{
    font-weight: 600;
    color:#1f1235;
}
.wrapper{
    width:50%;
    border:1px solid #ece8fb;
    border-radius: 10px;
    margin:10px;
    padding:20px;
    display:flex;
    align-items: center;
}
.wrapper:hover,
.date-box:hover,
.time-box:hover{
    border:2px solid #d8d0f0;
    background-color: #f5f3ff;
}
.wrapper.selected,
.date-box.selected,
.time-box.selected{
    border-color: #5b21b6;
    background-color:#f5f3ff ;

}

.wrapper input[type="radio"]{
    display:none;
}
.symbol {
    width:15px;
    height:15px;
    margin-right:10px;
    border-radius:50%;
    border:1px solid #d8d0f0;
}

.date,
.time{
   display:flex;
   justify-content:flex-start;
}

.date-box,
.time-box{
    width:35px;
    border:1px solid #ece8fb;
    border-radius: 10px;
    margin:10px;
    padding:15px;
    text-align: center;
}
.time-box{
    width:76px;
}
.choice {
    color:black;
    font-weight: 500;
}
.btn-proceed{
    background-color: #ece8fb;
    border-radius:15px;
    padding:10px;
    cursor: pointer;
}
.btn-proceed:hover {
    background-color: #5b21b6;
    font:white;
}