
.main-title {
    text-align: center;
    padding:10px;
}
/* .search-bar {
    display:flex;
    justify-content: center;
}
.search-item {
    padding:5px;
    margin:20px;
} */
.show-detail {
    display:grid;
    padding:80px;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
    border-radius: 5px;
}

.show-image {
    border-radius: 5px;
    background-color: black;
}
.show-info{
    background-color: white;
    border-radius: 6px;
    margin:10px;
    padding:20px;
}
.theatre {
    padding:10px;
    margin:5px;
    border-radius: 5px;

}
.movie-card {
    margin:20px;
    padding:10px;
    background-color:white;
    border-radius: 5px;
}
.movie-image {
    height:400px;
    width:100%;
    border-radius: 5px;
}
.movie-description {
    background-color:lightgrey;
    border-radius: 5px;
    padding:10px;
    /* margin:10px; */
}
input[type='radio'] {
    display: none;
}
.theatre-radio {
    padding:5px;
    border:2px solid black;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
}
.theatre-radio:hover{
    background-color: black;
    color: white;
}
input[type="radio"] + label {
    color:black;
}

input[type="radio"]:checked + label {
    background-color: black;
    color:white;
}
.date-radio {
    padding:5px;
    border:2px solid black;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
}
.date-radio:hover{
    background-color: black;
    color: white;
}
.time-radio {
    padding:5px;
    border:2px solid black;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
}
.time-radio:hover{
    background-color: black;
    color: white;
}
.btn {
    margin-top:50px;
}
.btn-proceed {
    padding:10px;
    border:5px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color:white;
}
/* .btn-proceed:hover {
    background-color: black;
    color: white;
} */
