@import url('https://fonts.googleapis.com');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    font-weight: 100;
    font-size: small;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    margin: 0;
    padding: 10px 14px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
}


.navbar {
    background-color: black;
    height: 60px;
    padding:5px 20px;                                   
    color:white;
    display: flex;
    justify-content: space-between;
}
.navitems a{
    text-decoration: none;
    padding:5px;
    margin:20px;
    border:5px solid white;
    border-radius: 20px;
    background-color:white;
    color:black;
}