body {
  height: 98vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login {
  background: white;
  width: 500px;
  padding: 45px;
  margin: auto;
  border-radius: 20px;
}
button[type=submit] {
    width: 70%;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}