body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#ae92db #e8e4f0;
}
.login {
  background:#e8e4f0;
  width: 500px;
  padding: 45px;
  margin: auto;
  border-radius: 20px;
}
button[type=submit] {
    width: 70%;
    /* background-color: black; */
    color:black;
    padding: 10px;
    margin: 5px;
    border:#5b21b6;
    border-radius: 5px;
}
#error {
  color: red;
}
.head {
  align-content: flex-start;
}