/* for selected movie information like movie-name,theatre-name,date & time */
.movie-info {
  padding: 10px;
  margin: 10px;
  display: flex;
  border-bottom: 2px solid #e8e4f0;
}

.movie,
.theatre,
.time {
  color: lightslategray;
  padding: 0 50px;
}

.movie,
.theatre {
  border-right: 2px solid #e8e4f0;
}

/* grid layout */
.layout {
  display: grid;
  grid-template-columns: 70% 1fr;
  
}

/* no-of tickets selection container*/
.seat-ti {
  background-color: #faf9ff;
}

.noofticket {
  padding: 20px 40px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #e8e4f0;
  border-radius: 10px;
}

/*select seats below description*/
.select {
  width: 20%;
  padding: 6px;
  border: 2px solid #e8e4f0;
  border-radius: 30px;
  color: #5b21b6;
  background-color: #faf9ff;
}

/* style for section label like premium,gold etc.,*/
.section-label {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  color: lightslategray;
}
.counter{
  display:flex;
  align-items: center;

}
.inccntbtn,
.deccntbtn,
.count{
  font-size:20px;
  margin:5px;
  padding:5px;
  border:none;
  background-color:white;
  cursor: pointer;
}

/* style for the layout of the seat */
.seat-table {
  border-collapse: separate;
  border-spacing: 5px;
}

/*style for the seat row name like A,B etc. */
.row-label {
  font-size: 12px;
  color: #5b6e99;
  font-weight: 600;
  text-align: center;
  width: 22px;
  padding:0 30px;
}
/*style for label of the checkbox*/
.seat {
  display:flex;
  justify-content: center; /*center the row number x-axis*/
  align-items: center; /*center the row number y-axis*/
  width: 30px;
  height: 30px;
  border-radius: 7px 7px 4px 4px;
  border: 1.5px solid #5b21b6;
  color: #e8e4f0;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer; 
} 
/*hide checkbox*/
.seat-cb {
  display: none;
} 
/*space between row-number 5 and row-number 6*/
td:nth-child(6) {
  padding-right: 100px;
}
/*if the seat is selected*/
.seat-cb:checked+.seat {
  background-color: #5b21b6;
  color: white;
}

.details {
  margin-left:20px;
}

.sum-head {
  padding-bottom:10px;
  border-bottom: 2px solid #e8e4f0;
}

.sum-details {
  margin-top:50px;
  border:3px solid #e8e4f0;
  border-radius:10px;
  padding:10px;
  background-color:#faf9ff;
}

#seat-sum,
#price-sum {
  text-align: center;
  color: lightslategray;
}

.btn {
  margin:70px;
  text-align: center;
}
.paybtn {
  padding:10px;
  border:1.5px solid #5b21b6;
  color: #e8e4f0;
  background-color: #5b21b6;
  border-radius:10px;
  cursor: pointer;
}